<% include ../partials/header %>

<div class="row">
    <h1 style="text-align: center;">Create a new campground!</h1>
    
    <div style="width: 30%; margin: 25px auto;">
        <form action="/campgrounds" method="POST">
            <div class="form-group">
                <input class="form-control" placeholder="title" name="name" type="text">
            </div>
            <div class="form-group">
                <input class="form-control" placeholder="value/night" name="price" type="number" min-value="0.01" step="0.01">
            </div>
            <div class="form-group">
                <input class="form-control" placeholder="url" name="url" type="text">
            </div>
            <div class="form-group">
                <input class="form-control" placeholder="description" name="description" type="text">
            </div>
            <div class="form-group">
                <button class="btn btn-lg btn-primary btn-block">Submit!</button>
            </div>
        </form>
        <a href="/campgrounds">Go Back</a>
    </div>
    
</div>

<% include ../partials/footer %>